.airport-panel {
  margin-top: 3rem;
  margin-bottom: 35rem;
  width: 64rem;
  
  display: flex;
  flex-direction: column;
  /*background-color: var(--primary-light-color);*/
 
  /*border-bottom: 7px solid var(--secondary-dark2-color);*/
}

/*
.airport-card-container {
  display: flex;
}*/

.airport-card-container {
  display: grid;
  /*grid-template-columns: 20% 20% 20% 20% 20%;  */
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
  /*container-type: size; this is to put blue line under bottom row*/ 
}

.airport-title {
  font-size: 24px;
  display: flex;
  text-align: center;
  background-color: var(--tertiary-dark-color);
  color: var(--primary-light-color);
  font-family: var(--font-family-main);
  font-weight: 500;
  width: 14rem;
  height: 2rem;
  position: absolute;
  z-index: 0;
}

.airport-title p {
  margin: auto; /*centers*/   
}

.airport-card {
  display: flex;
  justify-content: space-around;;
  background-color: var(--primary-light-color); 
  height: 7rem;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 14rem;
}

.airport-btn {
  height: 99%;
  width: 99%;
  background-color: var(--primary-light-color);
  border:none; 
  display: flex;
  justify-content: center;
}



.airport-btn:hover {
  cursor: pointer;
  border: 2px solid #e2e209a7; 
  background-color: var(--primary-light-color);
  border-top: none; 
}

.airport-card:hover .code {
  color: #99991b; 
}

.airport-card:hover .city-state {
  color: #58580e; 
}

.code {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: .5rem;
  font-family: "Manrope";
  color: var(--secondary-text-color);
}

/*
.add-airport-btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.add-airport-btn:hover .add-airport  {
  background-color: #fffab7;
} 

.add-airport {
  display: flex;
  background-color: var(--primary-light-color); 
  height: 7rem;
  border-bottom: 1px solid black;
  font-weight: 200;
  font-size: 85px;
  margin-bottom: .5rem;
  font-family: "Manrope";
  display: flex;
  justify-content: space-around;
  color: var(--secondary-text-color);
}

.airport-plus-sign {
  margin: auto;
}

*/

.airport-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.6rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 12rem;
}




/* first used lines to make borders
.airport-line-right {
  margin-top: 0rem;
  height: 7rem;
  border-left: 1px solid black;
}

.airport-line-bottom {
  margin-top: .9rem;
  width: 14rem;
  border-bottom: 1px solid black;
}
*/

/* removes the right line from the last collumn*/
.airport-card:nth-child(5n)  {
  display: flex;
  background-color: var(--primary-light-color); 
  height: 7rem;
  border-right: 0px solid black;
}

/* changes the color of every even airport
.airport-card:nth-child(even)  {
  background-color: #ead8d1;
}
*/

/*
@media .airport-card-container (min-height: 400px) {
	.airport-card:nth-last-child(-n + 2) {
    border-bottom: 7px solid var(--secondary-dark2-color);
   }
}*/

/*this is to put blue line under bottom row
  when container-type: size for .airport-card-container
  is on. When on, it cause airport title to dissapear
  and moves footer
  but need some calc because this only affect last 2 cell
@container (max-height: 50px) {
	.airport-card:nth-last-child(-n + 2) {
    border-bottom: 7px solid var(--secondary-dark2-color);
   }
}*/

/*removes right line on last cell*/
.airport-card:nth-last-child(-n+1) .airport-line-right {
  border-left: 0px solid black;
}

