
.about-page {
  width: 100%;
  height: 38rem;
  display: flex;
  justify-content: center;
}

.about-card {
  background-color: var(--primary-light-color);

  /*border: 3px solid var(--tertiary-dark-color);*/
  width: 30rem; 
  height: 18rem;
  border-bottom: 7px solid var(--secondary-dark2-color);
  margin: auto;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 24px;
  display: flex;
  text-align: center;
  background-color: var(--tertiary-dark-color);
  color: var(--primary-light-color);
  font-family: var(--font-family-main);
  font-weight: 500;
  width: 100%;
  height: 2rem;
}

.about-title p  {
  margin: auto; /*centers*/    
}  

.about-info {
   width: 27rem;
  margin: auto; /*centers*/  
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
 /* font-family: var(--font-family-main); */
  font-weight: 400;
}

.about-info bold {
  font-weight: 700;
}


.about-info p {
  
}

/*
.about-card-inside {
  background-color: var(--primary-light-color);
  border-radius: 50px;
  border: 3px solid  #757575; 
  width: 30rem; 
  height: 22rem;
  margin: auto;
}
  */