:root {
  --primary-font-color: #e98074ff;
  --secondary-font-color: #3a3f3dff;
  --foreground-color: rgb(229, 226, 212);
  --nav-color: #f2f0e9ff;
  --background-color: #f2f0e9ff;
  --foreground-color-altlighter: rgb(246, 245, 242);
  --foreground-color-altlighter2: #f4f4f0ff;
  --border-color: #aeaeaeff;
  --border-color-altdarker: #797979ff;
  --border-color-altdarker2: #3a3a3aff;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

