:root {
  --primary-light-color: #FEE9DD;
  --primary-medium-color: #F8D7D3;
  --primary-dark-color: #D5BFB6;
  --secondary-light-color: #9DB0CE;
  --secondary-dark-color: #3B395B;
  --secondary-dark2-color: #535878;
  --tertiary-light1-color: #C68E8E;
  --tertiary-light2-color: #D67878;
  --tertiary-dark-color: #783E3E;
  --tertiary-dark2-color:#430E0E;

  --secondary-text-color: #4B2222;

  --font-family-main:"Inter", sans-serif;
  --font-title-main:"EB Garamond", sans-serif;

  --font-size-small: 1.2rem;
  --font-size-medium: 1.6rem; 
  --font-size-large: 2.4rem;
  --font-size-xlarge: 3.2rem;

  --spacing-small: 1.2rem;
  
  --border-radius-small: 0.4rem;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

