.pilot-panel {  
  width: 18%;
  height: 47rem;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 2rem;
  background-color: var(--primary-light-color);
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.pilot-title {
    font-size: 24px;
    display: flex;
    text-align: center;
    background-color: var(--tertiary-dark-color);
    color: var(--primary-light-color);
    font-family: var(--font-family-main);
    font-weight: 500;
    width: 100%;
    height: 2rem;
    margin-bottom: 2rem;
}

.pilot-title p  {
  margin: auto; /*centers*/    
}  

.pilot-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.pilot-image {
  height: 6rem;
  opacity: 0.8;
}

.pilot-name {
  margin-top: .5rem;
  width: 100%;
  display: flex;
  margin-bottom: .5rem;
}

.pilot-name p {
  margin: auto;
  font-family: var(--font-family-main);
 
  font-weight: 500;
  font-size: 16px;
}

.line {
  width: 12rem;
  border-bottom: 1px solid black;
}