html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(0, 47, 91);
}

.pilots {
    border: 2px solid var(--border-color-altdarker);
    width: 25%;
    margin-top: 1rem;
    margin-left: 4rem;
    background-color: var(--foreground-color-altlighter);
}

.page {
    background-color: var(--background-color);
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
}

.container {
 
}

.flights {
   width: 65%;
}

.flightnumber {
    font-size: 24px;
    font-family: "Franklin Gothic Medium";
    /*background-color: rgb(197, 129, 95);*/
    color: var(--primary-font-color);
}

.tile {
    width: 100%;
    border: 2px solid var(--border-color-altdarker);
    color:rgb(0, 0, 0);
    text-align: left;
    font-family: "Century Gothic";
    padding: 50px;
    margin: 20px;
    background-color: var(--foreground-color-altlighter);
    /*box-shadow: 0 0 5px 1px rgb(188, 188, 188); */
    display: flex;
}

.departure {
    margin: 2rem;
}


.arrival {
    margin: 2rem;
}





    .buttons {
        color:white;
        margin-top: 50px;
        margin-left: 70px;
        background-color: rgb(201, 167, 150);
        display: flex;
        flex-direction: column;
    }
/*
    .btn {
        border-bottom: 1px solid rgb(0, 0, 0);
    }

    .btn2 {
        border-bottom: 1px solid rgb(0, 0, 0);
    }
*/

.something {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "Century Gothic";
    padding: 50px;
    margin: 20px;
    box-shadow: 0 0 5px 1px rgb(188, 188, 188);
}