html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-dark-color);
      
}

.p {
    border: 1px solid black;
}


.popup {
    width: 300px;
    height: 400px;
    background-color: var(--primary-dark-color);
}

.pilots {
  
    width: 20%;
    height: 70rem;
    margin-top: 3rem;
    margin-left: 4rem;
    margin-right: 2rem;
    color: #305263;
    background-color: var(--primary-light-color);
}

.page { 
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: calc(100% - 75px); /*scrollbar was not going to the bottom of page
                                 so use this to go to bottom*/
    display: flex;   

    /*below makes the page start below fixed navbar */
    position: fixed;
    top: 4.4rem; /* same height as navbar */
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto; /*scrollbar, should appear when elements pass page*/
    border: 3px solid black;
}
    
.flights {
   margin-left: 2rem;
   margin-top: 3rem;
   padding-bottom: 20rem;
   width: 70%;
}

.flight-card {
    width: 95%;
    background-color: var(--primary-light-color);
    height: 14.5rem;
    margin-bottom: 5rem;
    border-bottom: 7px solid var(--secondary-dark2-color);
    display: flex; 
}

.flight {
    display: flex;
    height: 100%;
}

.flight-info {
    width: 97%;
}

.flightnumber {
    font-size: 24px;
    display: flex;
    text-align: center;
    background-color: var(--tertiary-dark-color);
    color: var(--primary-light-color);
    font-family: var(--font-family-main);
    font-weight: 500;
    width: 14rem;
    height: 3rem;
    /*border-bottom: 7px solid var(--tertiary-light2-color);*/
}

.flightnumber p  {
    margin: auto; /*centers*/    
}  


.flight-details {
    margin-top: 1.7rem;
    display: flex;
    justify-content: space-around;
}

.airports {
    margin-top: .1rem;
    margin-left: 3.5rem;
    width: 9rem;
    font-family: var(--font-family-main);
    color: var(--secondary-text-color);
    font-weight: 600;
    font-size: 36px;
    padding-left: 1.5rem;
   }

.departure-airport {
  display: flex;
  height: 2.6rem;
  margin-top: .1rem;
}

.departure-airport-name {
  width: 50%;
}

.arrow-icon {
    margin-top: .1rem;
    fill: var(--secondary-text-color);
    width: 2.2rem;    
}

.arrival-airport-name {
  height: .5rem;

}


.pilot-departure-arrival {
   padding-left: 2rem;
   padding-bottom: 0px;
   padding-right: 2rem;
   border-left: 2px solid var(--tertiary-dark2-color);
   border-bottom: 2px solid var(--tertiary-dark2-color);
   height: 6.3rem;
}

.pilot-departure-arrival h2 {
    margin-top: 0px;
   
}

.pilot-departure-arrival p {
   
   
}

.arrival {
    
}


.flight-buttons {
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2rem;
}

.btn {
    width: 2.2rem;
    height: 1.7rem;
    border: 1px solid var(--tertiary-dark2-color);
    
}

.edit {
    margin-top: 3.3rem;
    background-color: #e8dad5;
    /*background-color: var(--flight-edit-button-color);*/
}

.edit-icon {   
    height: 1rem;
    width: 20px;
  }

.edit:hover{
    /*background-color: #9dbcfa;*/
    /*background-color: #b9d0ff7a; last one*/
    background-color: #d5d5da;
    cursor: pointer;
}

.edit:hover .edit-icon {
    fill: #070092;
}


.delete {
    margin-bottom: 4.3rem;
    font-weight: 600;
    background-color: var(--primary-dark-color);
    /*background-color: var(--flight-delete-button-color);*/
}


.delete:hover {
    /*background-color: #ff9090;*/
    /*background-color: #fbbfbf; last one*/
    background-color: #ff777778;
    cursor: pointer;
    color: #6d2323;
}

.bottom-margin {
    height: 4rem;
}

.flight-info-card {
  margin-top: 7.5rem;
  position: absolute;
  z-index: 2;
}



