
.welcome {
  position: absolute;
  top: 11rem;
  left: 7.5rem;
  z-index: 1;
  color: #0029FF;
  font-size: 36px;
  font-weight: 600;
  font-family: var(--font-family-main);
}

.home-img-container {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .home-img {
    width: 100%;
    clip-path: inset(3rem 0% 0% 0%);
    bottom: 10rem;
    margin-bottom: 15rem;
  }
}

@media (max-width: 768px) {
  .home-img {
    width: 100%;
    clip-path: inset(2rem 0% 0% 0%);
    bottom: 8rem;
    margin-bottom: 10rem;
  }
}

@media (max-width: 480px) {
  .home-img {
    width: 100%;
    clip-path: inset(1rem 0% 0% 0%);
    bottom: 5rem;
    margin-bottom: 5rem;
  }
}


.home-img {
  width: 125%;

  clip-path: inset(4rem 0% 0% 0%); /* Top, right, bottom, left */
  position: relative;
  bottom: 13.5rem;
  margin-bottom: 20rem;
}