
.p {
    border: 1px solid black;
}


.popup {
    width: 300px;
    height: 400px;
    background-color: var(--primary-dark-color);
}

.homepage{ 
  min-height: 100vh; /*this made footer go to bottom of
                       page even on scroll */
  display: flex;
  justify-content: center;
}

.page {
  /*this is keeping everthing in document center inside
    as you zoom out of page*/
  display: flex;
  flex-direction: column;
  width: 85.6rem;
  
  /*margin-left: 2rem;*/
  
  /*position:relative;*/
 

  /*below makes the page start below fixed navbar */
  /*
  position: fixed;
  top: 4.4rem; /* same height as navbar */
  /*
  left: 0;
  right: 0;
  bottom: 0;*/
  /*overflow-y: auto; scrollbar, should appear when elements pass page*/  
  
}

.top-page {
  display:flex;
  justify-content: center;
  align-items: space-around;
}

.switch-area {
  /*border: 1px solid black;*/
  display: flex;
  margin-top: 1.1rem;
  margin-right: 1.3rem;
  align-self: flex-end;
}

.switch-labels {
  background-color: var(--tertiary-dark-color);
  color: var(--primary-light-color);
  height: 2rem;
  width: 14rem;
  display: flex;
  justify-content: space-around;
  font-family: var(--font-family-main);
  font-size: 19px;
  font-weight: 500;
}


.flights-switch-label {
  margin-left:2rem;
  margin: auto;

}

.airports-switch-label {
  margin: auto;
  margin-left: -.5rem;
}

.pilots-flights-area { 
    margin-top: -2rem;
    width: 100%;
    /* height: calc(100% - 75px); scrollbar was not going to the bottom of page
                                 so use this to go to bottom*/
    display: flex;   
}
    
.flights {
   margin-left: 2rem;
   margin-top: 1.35rem;
   padding-bottom: 20rem; /* currenlty keeping pilots form touching bottom*/
   width: 65rem; 
}


.bottom-margin {
    height: 4rem;
}

.flight-info-card {
  margin-top: 7.5rem;
  position: absolute;
  z-index: 2;
}



