
 .nav {
    background-color: var(--secondary-dark-color);
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2.4px solid var(--border-color-altdarker2);
 }


.title {
  display: flex;
  margin-left: 7rem;
  font-family: var(--font-family-main);
  font-size: 32px;
  font-weight: 300;
  /*-webkit-text-stroke:  1px var(--border-color-altdarker2);*/
}



.nav-links {
   font-family: var(--font-family-main);
   font-weight: 300;
   font-size: 16px;
   margin-right: 5.5rem;
   display: flex;
  }

.nav-links li {
    list-style: none;
    margin-left: 2.5rem;
    
}

a { /*link styling*/
  text-decoration: none; /*removes the link underline*/
  color: var(--primary-light-color);
}


@media (max-width: 1164px) {
  .nav-links {
    font-size: 17px;
   }
}

/*
@media screen and (max-width:651px) {
    .logo-name  {
        top: 20px;
        position: fixed;
        scale: 1.2;
        z-index: 3;
    }
}
*/

