/*

tried to fix positioning


.nav {
    position: fixed;
    top: 0; 
    left:0;
    margin: 0px;
    right: 0;
    background-color: var(--secondary-dark-color);
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2.4px solid var(--border-color-altdarker2);
    z-index: 1000;
 }
*/

 .nav {
    background-color: var(--secondary-dark-color);
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2.4px solid var(--border-color-altdarker2);
 }


.title {
  display: flex;
  margin-left: 7rem;
  
}

.logo-image{
    /*cropping excess of top and bottom of image*/
    width: 5.2rem;
    margin-top: .3rem;
    margin-left: 9rem;
    margin-bottom: .2rem;
    /*height: 4rem; /*would shrink down to 4rem height*/
    /*object-fit: cover; /*but because have this, its filling 
                       the area and cropping the top and bottom*/
    /*background-color: rgb(210, 210, 210); */

}

.app-name {
   /* position: fixed; */
    font-size: 3.7rem;
    margin-left: 1.2rem;    
    margin-bottom: 2.9rem;    
    margin-top: 2.7rem; 
    font-family: "Vidaloka", sans-serif;
    font-weight: 300;
    font-weight: 300;color: var(--primary-light-color);
    -webkit-text-stroke:  1px var(--border-color-altdarker2);
    /*color: rgba(230, 144, 111, 1) desired color when inverted*/
  }
  

.app-name::first-letter {
   font-family: var(--font-title-main);
   font-size: 4.5rem;
}


.letter-s {
  font-family: "Noto Serif TC";
  font-size: 3.45rem;
  font-weight: 600;
}

/* Alice font for s
.letter-s {
  font-family: "Alice";
  font-size: 4rem;
  font-weight: 300;
}
*/

.nav-links {
   margin-right: 5.5rem;
   display: flex;
   font-size: 20px;
  }

.nav-links li {
    list-style: none;
    margin-left: 2.5rem;
    
}

a { /*link styling*/
  text-decoration: none; /*removes the link underline*/
  color: var(--primary-light-color);
}


@media (max-width: 1164px) {
  .nav-links {
    font-size: 17px;
   }

/*
  .app-name-first {
     font-size: 2rem;
     margin-left: .4rem;    
   }

   .app-name-second {
     font-size: 2rem;
     margin-left: .4rem;   
     margin-bottom: .5rem; 
   }
 

   .app-name::first-letter {
    font-family: var(--font-title-main);
    font-size: 2rem;
 }
 
 
  .letter-s {
    font-family: "Noto Serif TC";
    font-size: 2rem;
    font-weight: 600;
  }  */
}

/*
@media screen and (max-width:651px) {
    .logo-name  {
        top: 20px;
        position: fixed;
        scale: 1.2;
        z-index: 3;
    }
}
*/


/*
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
  }
  

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  

  .main {
    margin-top: 30px; 
  }
  */