
/* ap for airports-pilots */

/*
/page
div ap-page
  div select card
  div window
    div ap-titles
      div ap-title-name
      div ap-title-location
      div ap-title-date 

  div /card
  div /button


/card
  div ap-card
    button ap-edit-modal-btn
      div ap-info 
        div ap-name
        div ap-location
        div ap-date


/button
  ap-btn-container
    button ap-add-btn
      p ap-add-btn-text
*/

.ap-page {
  display: flex;
  flex-direction: column;
}

.ap-select-item {
  margin: 1.5rem 7rem 0rem;
  font-family: var(--font-family-main);
}

.ap-window {
  margin: 0.5rem auto;
  width: 56rem;
  height: 34rem;
  background-color: var(--card-background-color);
  box-shadow: var(--box-shadow);
}

.ap-titles {
  margin: 1rem auto 0rem;
  width: 44rem;
  display: flex;
  justify-content: space-between;
}

.ap-card {
  margin: 1rem auto 0rem;
  display: flex;
  width: 52rem;
  height: 3.18rem;
  background-color: var(--ap-card-background-color);
  border: var(--card-border);
}

/*
.ap-info {
  display: flex;
  justify-content: space-between;
}
*/

.ap-info {
  width: 52rem;
  display: grid;
  grid-template-columns: 15rem 1fr 1fr;  
  margin: auto;
}

.ap-pilot-name-container {
  display: flex;
  width: 15rem;
  margin: auto;
}

.ap-pilot-image {
  height: 2.44rem;
  clip-path: circle();
  margin: auto 0rem;
}

.ap-name {
  margin: auto;
}

.ap-location {
  margin: auto;
}

.ap-date {
  margin: auto 0rem auto 8rem;
}

.pilot-btn-container{
  margin-top: 13rem;
  width: 56rem;
  display: flex;
}

.airport-btn-container {
  width: 56rem;
  display: flex;
}

.ap-add-btn {
  margin: auto;
  height: 2.5rem;
  width: 10.250rem;
  display: flex;
  background-color: #498FEB;
  border: .07rem solid #E6E6E6;
  border-radius: 5px;
}

.ap-add-btn-text {
  margin: auto;
  color: white;
  font-family: var(--font-family-main);
  font-weight: 300;
}