
.modal, .overlay{
  width: 100vw; /*100% of weiwport width*/
  height: 100vh; /*100% of weiwport height*/
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 1;
}

.overlay {
  background-color: #3232328c;
}

.modal-title {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  height: 2rem;
  font-size: 24px;
  background-color: var(--tertiary-dark-color);
  font-family: var(--font-family-main);
  color: var(--primary-light-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* modal buttons  */

.modal-exit-btn {
  margin-right: 1.5rem;
  height: 1.4rem;
  width: 1.7rem;
  font-size: 18px;
  font-weight: 500;
  border: .07rem solid black;
  background-color: #dfd2cd;
  border-radius: 5px;
}

.modal-exit-btn:hover {
  cursor: pointer;
  border: 2px solid #e2e209a7; 
}

.modal-bottom-btns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}


.edit-btn  {
  width: 4rem;
  background-color: rgb(186, 225, 244);
  border: 1px solid black;
}

.delete-btn {  
  width: 4rem;
  background-color: rgb(252, 183, 183);
  border: 1px solid black;
}

.edit-btn:hover + .delete-btn:hover {
  cursor: pointer;
}

