


.nav {
  /* background-color: rgb(255, 158, 109);*/
  
    background-color: var(--secondary-dark-color);
    height: 4.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2.4px solid var(--border-color-altdarker2);
   
 }


a { /*link styling*/
    text-decoration: none; /*removes the link underline*/
    color: white;
}

.logo {

}


.title {
  display: flex;
  
}

.logo-image{
    /*cropping excess of top and bottom of image*/
    width: 5.2rem;
    margin-left: 9rem;
    margin-bottom: .2rem;
    /*height: 4rem; /*would shrink down to 4rem height*/
    /*object-fit: cover; /*but because have this, its filling 
                       the area and cropping the top and bottom*/
    /*background-color: rgb(210, 210, 210); */

}

.logo-name {
   /* position: fixed; */
    font-size: 3.7rem;
    margin-left: 1.2rem;    
    margin-bottom: 2.9rem;    
    font-family: "Vidaloka", sans-serif;
    font-weight: 300;
    color: var(--primary-light-color);
    -webkit-text-stroke:  1px var(--border-color-altdarker2);
    /*color: rgba(230, 144, 111, 1) desired color when inverted*/
  }

.logo-name::first-letter {
   font-family: var(--font-title-main);
   font-size: 4.5rem;
}

.nav-links {
   
}

.nav-links li {
    list-style: none;
    margin-left: 2.5rem;
    position: relative;
}
/*
@media screen and (max-width:651px) {
    .logo-name  {
        top: 20px;
        position: fixed;
        scale: 1.2;
        z-index: 3;
    }
}
*/


/*
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
  }
  

  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  

  .main {
    margin-top: 30px; 
  }
  */