

.pilot-modal {
  width: 22.5rem;
  height: 23rem;
  background-color: var(--primary-light-color);
  display: flex; 
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
}

.pilot-modal-title {
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  height: 2rem;
  font-size: 24px;
  background-color: var(--tertiary-dark-color);
  font-family: var(--font-family-main);
  color: var(--primary-light-color);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pilot-modal-title p  {
  margin: auto auto auto 9.8rem; /*centers*/    

}  


.pilot-exit-btn {
  margin-right: 1.5rem;
  height: 1.4rem;
  width: 1.7rem;
  font-size: 18px;
  font-weight: 500;
  border: .07rem solid black;
  background-color: #dfd2cd;
  border-radius: 5px;
}

.pilot-exit-btn:hover {
  cursor: pointer;
  border: 2px solid #e2e209a7; 
}

.edit-pilot-image-container {
  margin: auto;  
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  display: flex;
  justify-content: space-around;
  /*border-right: 1px solid black;
  border-left: 1px solid black;*/
  width: 16rem;
}

.edit-pilot-image {
  opacity: .7;
  width: 9.8rem;
}

.edit-pilot-icon {
  /*fill: #877269;
  fill:rgb(118, 110, 104);*/
  opacity: .7;
  width: 9.8rem;
  margin: 1rem auto .8rem;
}

.edit-pilot-modal-info {
  border-top: 1px solid black;
  width: 17rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 0rem;
  
}

.edit-pilot-name {
  margin: .5rem auto 0rem; /*top 1, left/right auto bottom 0 */
  height: 1rem;
  font-family: var(--font-family-main);
  font-weight: 600;
  margin-bottom: 1rem;  
  font-size: 20px;
}

.edit-pilot-name p {
  margin: auto;
}

.edit-pilot-yearsOfService {
  height: 2rem;
  margin: .1rem auto;
  font-family: var(--font-family-main);
  font-weight: 400;
}

.edit-pilot-yearsOfService p {
  margin: auto;
}


.edit-pilot-btn {
  height: 1.6rem;
  width: 4rem;
  margin-left: 16rem;
  margin-bottom: .8rem;
}


.pilot-modal-form {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  width: 18rem;
}


.pilot-modal-form input[type=text] {
  width: 17rem;
  height: 1.5rem;
  line-height: 15px;
}

.update-pilot-btn {
  width: 4rem;
}



.add-pilot-submit-btn {
  width: 4rem;
  height: 1.5rem;
  font-size: 18px;
}