

.edit-flight-modal {
  width: 27rem;
  height: 16rem;
  background-color: var(--primary-light-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 28px;
  display: flex; 
  flex-direction: column;
}

.edit-flight-modal-title {
   font-weight: 400; /*thinner font*/
}

.edit-flight-title {
  margin: auto auto auto 9.3rem; /*centers*/    
}  

.edit-flight-info-container {
  margin: auto;
  margin-top: 1.2rem;
  /*display: flex;*/
  justify-content: space-around;
  width: 26rem;
}

.edit-flight-info {
  margin-top: 3.6rem;
  margin-left: .5rem;
  margin-right: .5rem;
  width: 19rem;
}

.edit-flight-airport-code {
  font-family: var(--font-family-main);
  font-weight: 600;
  margin-bottom: 1.2rem;  
  font-size: 25px;
  display: flex;
}

.edit-plane-img-container {
  margin-right: .3rem;
}

.plane-icon {
  width: 15rem;
  /*opacity: .62; */
  opacity: .77; 
}

.edit-plane-img {

  width: 15rem;
  /* reverse
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);*/
}

.flight-edit-btn {  
  margin-right: 4rem;
}

.flight-delete-btn  {
  margin-left: 5rem;
}

