
.add-airport-container {
  display: flex;
  justify-content: center;
  width: 14rem;
  border-bottom: 1px solid black; 
  background-color: var(--primary-light-color); 
  height: 7rem;
}

.add-airport-btn {
  height: 100%;
  width: 100%;
  background-color: var(--primary-light-color);
  border: none;
  display: flex;
  justify-content: center;
}

.add-airport-btn:hover  {
  cursor: pointer;  
  border:2px solid #e2e209a7; 
  background-color: #f8f8114f;
  /*background-color: var(--primary-light-color); */
  border-top: none;  
} 

.add-airport-btn:hover .airport-plus-sign {
 /*color: #99991b;*/
 background-color: #f8f8114f;
 
} 


.add-airport {
  display: flex;
  background-color: var(--primary-light-color);  
  height: 6.9rem;
  font-weight: 200;
  font-size: 70px;
  margin-bottom: .5rem;
  font-family: "Manrope";
  display: flex;
  justify-content: space-around;
  color: var(--secondary-text-color);
}

.airport-plus-sign {
  height: 6rem;
  padding-top: 1rem;
  background-color: transparent;
  
}



.airport-plus-sign p {
  /*height: 6.9rem;*/
  margin-top: 1rem;
  margin: auto;
}
